{% load static %}

<html>
<head>
  {% include "blog/header.html" %}

  <!-- Custom styles for this template -->
  <link href="{% static "blog/css/clean-blog.css" %}" rel="stylesheet">

</head>
<body>
  <!-- Navigation -->
  <!-- <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="index.html">Start Bootstrap</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="post.html">Sample Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  -->

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({% static "" %}/blog/img/{{ blog_post.header_img }})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{ blog_post.title }}</h1>
            <!--
            <span class="subheading">No subtitle for the moment</span>
            -->
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{ blog_post.content|safe }}
        </div>
      </div>
    </div>
  </article>

</body>

<footer>
  {% include 'blog/cytoscape_create_graphs.html' %}
</footer>
</html>
